extends layout

block content
  div(class='container')
    p Contacts:
    a(href="tel:+30672366985") +3067 236 69 85
    p  
    a(href="mailto:a.kuts.ibg@gmail.com") a.kuts.ibg@gmail.com
    p  
    div(class='contacts_box')
      a(href="https://www.facebook.com/anton.kuts.90", class='contacts_a')
        img(src="../images/if_fb_1218127.png", alt="facebook", class="contact-icons")
      a(href="https://www.linkedin.com/in/anton-kuts/", class='contacts_a')
        img(src="../images/if_LinkedIn_194920.png", alt="LinkedIn", class="contact-icons")
      a(href="https://c.com/AntonKuts", class='contacts_a')
        img(src="../images/if_github_1220319.png", alt="github", class="contact-icons")
      a(href="https://www.instagram.com/kuts_anton/", class='contacts_a')
        img(src="../images/if_instagram_1218133.png", alt="instagram", class="contact-icons")
    p My home:
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2137.3753923215545!2d30.52679919996535!3d50.42653274079573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf1a151eab87%3A0x94bdc678b3d55e50!2z0LLRg9C70LjRhtGPINCE0LLQs9C10L3QsCDQmtC-0L3QvtCy0LDQu9GM0YbRjywg0JrQuNGX0LIsINCj0LrRgNCw0LjQvdCw!5e0!3m2!1sru!2sru!4v1499933958523", width="600", height="450", frameborder="0", style="border:0", allowfullscreen)
