extends layout

block content
  
  div(class="canva_box")
    a(href="https://www.canva.com/a.kuts.ibg?utm_campaign=designshare&utm_medium=embeds&utm_source=link") See in Canva
    p   
    a(href="../images/Kuts_Anton_CV.jpg" download="Kuts_Anton_CV.jpg") Download CV
  img(src="../images/Kuts_Anton_CV.jpg", alt="CV", class="canva")
  div(class="canva_box")
    a(href="../images/Kuts_Anton_CV.jpg" download="Kuts_Anton_CV.jpg") Download CV
    p   
