extends layout

block content
  div(class='boxForKuts')
    p IT:
  p I'm very interested in IT development. Now I'm studying at 
   a(href="http://ua.upscaleacademy.com/", class='forIT') IT BOOTCAMP.
  p Stack of technologies: HTML, HTML5, CSS, JS, JSON, JQUERY, GITHUB, React.JS.
  p My projects during the training can be viewed at Githab. See in 
    a(href='/Contacts', class='forIT') Contacts.
  p Commercial projects in section 
    a(href='/Projects', class='forIT') Projects.
  video(width="960", height="650", poster="images/screen.png" autoplay, loop)
    source(src="images/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
    source(src="images/video.ogv" type='video/ogg; codecs="theora, vorbis"')
    source(src="images/video.webm" type='video/webm; codecs="vp8, vorbis"')
