extends layout

block content
  p Letter of recommendation from previous job:
  a(href="https://juscutum.com/en/") Juscutum Attorneys Association
  div(class="letter_box")
    img(src="../images/juscutum.jpg", alt="letter", class="letter")
  
