extends layout

block content
  div(class='bigBox')
    img(src="../images/foto_main.jpg", alt="foto_main", class="foto_main")
    div(class='main_text')
      h1= title
      p Hi there from #{title}!
      p I am a successful lawyer with 11 years experience, who wants to become a developer. I have experience of communicating with clients, conducting large projects and working in a team.
      p I want to become a successful IT expert and help the company achieve success.

    
      

    
