extends layout

block content
  div(class='boxForKuts')
    p My values:
  div(id="bigBox")
    img(id="mainImeg", src="images/fam.jpg", alt="mainImeg")
    div(class="boxForBoxs")
      div(class="boxForFoto")
        img(class="box")
        p Family
      div(class="boxForFoto")
        img(class="box")
        p Friends
      div(class="boxForFoto")
        img(class="box")
        p Knowledge
      div(class="boxForFoto")
        img(class="box")
        p Art
      div(class="boxForFoto")
        img(class="box")
        p Sport
      div(class="boxForFoto")
        img(class="box")
        p Charity
